In [1]:
import pandas as pd
import pathlib
pd.set_option('display.float_format', lambda x: '%.2f' % x)

In [2]:
data_dir = pathlib.Path('./data')
save_dir = data_dir/"tracking_weeks"

In [23]:
# map idx to game/playid
idx_df = pd.DataFrame()
dfs = []

for file_path in data_dir.glob("tracking_week_*.csv"):
    tracking_df = pd.read_csv(file_path, dtype_backend='pyarrow')
    plays_in_week = pd.DataFrame(
        tracking_df[['gameId', 'playId', 'dir']].groupby(['gameId', 'playId']) \
            .count().reset_index().drop('dir', axis='columns'))
    tracking_df.to_parquet(save_dir, partition_cols=["gameId", "playId"])

In [24]:
players_df = pd.read_csv(data_dir/'players.csv', dtype_backend='pyarrow')
players_df.to_parquet(data_dir/'players.parquet')

In [11]:
target_df = pd.read_csv(data_dir/'plays.csv', dtype_backend='pyarrow')
target_df.to_parquet(data_dir/'target.parquet')

0

In [ ]:
del tracking_df, plays_in_week, players_df, target_df

In [26]:
pd.read_parquet(save_dir/"gameid=2022090800")

,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event,playId
0,35472,Rodger Saffold,1,2022-09-08 20:25:08.200000,76,BUF,left,73.13,27.64,0.01,0.01,0.00,267.95,182.22,<NA>,101
1,35472,Rodger Saffold,2,2022-09-08 20:25:08.299999,76,BUF,left,73.13,27.64,0.01,0.01,0.00,267.95,182.56,<NA>,101
2,35472,Rodger Saffold,3,2022-09-08 20:25:08.400000,76,BUF,left,73.13,27.63,0.01,0.01,0.00,267.95,182.15,<NA>,101
3,35472,Rodger Saffold,4,2022-09-08 20:25:08.500000,76,BUF,left,73.13,27.64,0.00,0.01,0.01,274.37,179.54,<NA>,101
4,35472,Rodger Saffold,5,2022-09-08 20:25:08.599999,76,BUF,left,73.13,27.65,0.00,0.25,0.01,274.95,1.03,<NA>,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79207,<NA>,football,9,2022-09-08 21:00:30.700000,<NA>,football,right,46.32,1.03,1.07,0.55,0.11,<NA>,<NA>,out_of_bounds,980
79208,<NA>,football,10,2022-09-08 21:00:30.799999,<NA>,football,right,46.33,0.93,0.94,0.83,0.09,<NA>,<NA>,<NA>,980
79209,<NA>,football,11,2022-09-08 21:00:30.900000,<NA>,football,right,46.33,0.84,0.88,1.11,0.09,<NA>,<NA>,<NA>,980
79210,<NA>,football,12,2022-09-08 21:00:31.000000,<NA>,football,right,46.34,0.76,0.83,1.02,0.09,<NA>,<NA>,<NA>,980
79211,<NA>,football,13,2022-09-08 21:00:31.099999,<NA>,football,right,46.62,0.74,1.27,2.50,0.28,<NA>,<NA>,<NA>,980

Generating play index

Generating dictionary for weeks

In [8]:
# dfs = []
# rangedict = {}
# for i in range(1, 9):
#     filename = f"data/tracking_week_{i}.csv"
#     tdf = pd.read_csv(filename)
#     # Use .astype(int) to ensure the values are stored as integers
#     max_value = int(tdf['gameId'].max())
#     min_value = int(tdf['gameId'].min())
#     rangedict[i] = {'Week': f"Week {i}", 'Max': max_value, 'Min': min_value}

# range_df = pd.DataFrame.from_dict(rangedict, orient='index')

# range_df.reset_index(drop=True, inplace=True)


# range_df.to_csv("data/weeks.csv")
# range_df

     Week         Max         Min
0  Week 1  2022091200  2022090800
1  Week 2  2022091901  2022091500
2  Week 3  2022092600  2022092200
3  Week 4  2022100300  2022092900
4  Week 5  2022101000  2022100600
5  Week 6  2022101700  2022101300
6  Week 7  2022102400  2022102000
7  Week 8  2022103100  2022102700

In [10]:
tp = pd.read_parquet("data/tracking_weeks/gameId=2022090800")
tp

,nflId,displayName,frameId,time,jerseyNumber,club,playDirection,x,y,s,a,dis,o,dir,event,globalPlayIndex,playId
0,35472.00,Rodger Saffold,1,2022-09-08 20:25:08.200000,76.00,BUF,left,73.13,27.64,0.01,0.01,0.00,267.95,182.22,None,2022090800101,101
1,35472.00,Rodger Saffold,2,2022-09-08 20:25:08.299999,76.00,BUF,left,73.13,27.64,0.01,0.01,0.00,267.95,182.56,None,2022090800101,101
2,35472.00,Rodger Saffold,3,2022-09-08 20:25:08.400000,76.00,BUF,left,73.13,27.63,0.01,0.01,0.00,267.95,182.15,None,2022090800101,101
3,35472.00,Rodger Saffold,4,2022-09-08 20:25:08.500000,76.00,BUF,left,73.13,27.64,0.00,0.01,0.01,274.37,179.54,None,2022090800101,101
4,35472.00,Rodger Saffold,5,2022-09-08 20:25:08.599999,76.00,BUF,left,73.13,27.65,0.00,0.25,0.01,274.95,1.03,None,2022090800101,101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79207,NaN,football,9,2022-09-08 21:00:30.700000,NaN,football,right,46.32,1.03,1.07,0.55,0.11,NaN,NaN,out_of_bounds,2022090800980,980
79208,NaN,football,10,2022-09-08 21:00:30.799999,NaN,football,right,46.33,0.93,0.94,0.83,0.09,NaN,NaN,None,2022090800980,980
79209,NaN,football,11,2022-09-08 21:00:30.900000,NaN,football,right,46.33,0.84,0.88,1.11,0.09,NaN,NaN,None,2022090800980,980
79210,NaN,football,12,2022-09-08 21:00:31.000000,NaN,football,right,46.34,0.76,0.83,1.02,0.09,NaN,NaN,None,2022090800980,980
79211,NaN,football,13,2022-09-08 21:00:31.099999,NaN,football,right,46.62,0.74,1.27,2.50,0.28,NaN,NaN,None,2022090800980,980